.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #050505;
    /* Slightly darker than main bg */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.loader-content {
    text-align: center;
    width: 300px;
}

.loader-logo {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loading-bar-container {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.loading-bar {
    height: 100%;
    background: var(--accent-gradient);
    transition: width 0.1s linear;
}

.loading-text {
    color: var(--text-secondary);
    font-family: monospace;
    font-size: 1rem;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}